@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply leading-[normal] m-0;
}

*,
::before,
::after {
  border-width: 0;
}

.main-haeading {
  color: white;
  width: 600px;
  margin: 30px auto;
}

.main-para {
  width: 600px;
  margin: 30px auto;
  color: #F5F5F5;
}

.main-btn {
  width: 150px;
  height: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
  padding-bottom: 7px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main-box1 {
  border: 1px solid #F5F5F5;
  background-color: rgb(101, 90, 90);
  margin-left: 12rem;
  width: 250px;
  height: 8rem;
  margin-top: 50px;
  border-radius: 10px;
  margin-bottom: 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: flex-end;

}

/* Main Part CSS */

.kal {
  color: red;
}

.mask-image {
  margin-top: 40px;
  height: 400px;
  margin-left: 60px;

}

.p1 {
  font-weight: bold;
}

.p2 {
  padding-top: 20px !important;
}

.p3 {
  padding-top: 30px;
}

.detail-paragragh {
  line-height: 1.5;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.box-para {
  font-size: 15px;
  width: 300px;
}

.expertise-heading {
  margin-top: 30px;
  margin-left: 40%;
  margin-bottom: 50px;
}

.expertise {
  color: red;
}

.image-with-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}

.offer-section {
  background: linear-gradient(180deg, #3F0F1A -1.83%, #050116 100%);
  height: 680px;
}

.paragraph-offer {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 650px;
  padding-bottom: 3rem;
  padding-top: 1rem;
  font-size: 13px;
  text-align: center;
  margin: auto;
}


.offer-heading {
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.sub-heading {
  font-weight: bold;
  border-bottom: 1px solid white;
  width: 280px;
  color: white;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: white;
}

.offer-paras {
  font-size: 13px;
}

.offer-img {
  height: 50px;
}


.portfolio {
  /* background-color: white !important;
  border-radius: 10px;
  margin-top: 20px;*/
  margin-bottom: 5rem;
  width: 90%;
  height: 200px;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  box-shadow: 0px 40px 55px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  /* transform: rotate(180deg); */
  box-sizing: border-box;
  /* width: 1232px;
  height: 334px; */
}


.parent img {
  width: 100px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.footer {
  margin-top: 10rem;
  background-color: #F5F5F5;
}

.first-part {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.pare {
  border: 1px solid #F5F5F5;
}

.footer-heading {
  color: red;
  font-size: 16px;
}